@page
@model ControleFinanceiroApp.Pages.Account.RegisterModel
@{
	ViewData["Title"] = "Cadastro de Usuário";
}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h2>@ViewData["Title"]</h2>
		<hr />
		
		<div asp-validation-summary="All" class="text-danger"></div>
		
		<form method="post">
			
			<div class="mb-3">
				<label asp-for="Input.Nome" class="form-label"></label>
				<input asp-for="Input.Nome" class="form-control" />
				<span asp-validation-for="Input.Nome" class="text-danger"></span>
			</div>
			
			<div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
			
			<div class="mb-3">
                <label asp-for="Input.Senha" class="form-label"></label>
                <input asp-for="Input.Senha" class="form-control" />
                <span asp-validation-for="Input.Senha" class="text-danger"></span>
            </div>
			
			<div class="mb-3">
                <label asp-for="Input.ConfirmarSenha" class="form-label"></label>
                <input asp-for="Input.ConfirmarSenha" class="form-control" />
                <span asp-validation-for="Input.ConfirmarSenha" class="text-danger"></span>
            </div>
			
			<div class="mb-3">
                <label asp-for="Input.TipoRendaExtra" class="form-label"></label>
                <select asp-for="Input.TipoRendaExtra" class="form-select">
                    <option value="">Selecione uma opção</option>
                    <option value="Vendas">Vendas (Controle de Estoque/Clientes)</option>
                    <option value="Uber">Uber (Calendário de Ganhos Diários)</option>
                    <option value="Outro">Outro Tipo</option>
                </select>
                <span asp-validation-for="Input.TipoRendaExtra" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}